version: '3.8'

services:
  web:
    image: nginx:stable-alpine
    container_name: web_app-nginx-1
    ports:
      - "80:80"
    volumes:
      - ./html:/var/www/html
      - ./nginx.conf:/etc/nginx/conf.d/default.conf
    depends_on:
      - php
    restart: always

  php:
    # Jenkins가 빌드할 때 사용할 'latest' 태그를 명시적으로 지정합니다.
    image: cho/web-app:latest
    container_name: web_app-php-1
    volumes:
      - ./html:/var/www/html
    restart: always
